.go {
    min-width:100px;
    position:fixed;
    top:260px;
    left:20px;
}

.square1 {
    left:20px;
    top:20px;
    height:100px;
    width:100px;
    position: fixed;
    background-color: blue;
  transition: 0.5s;
}

.square2 {
    left:150px;
    top:20px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:red;
  transition: 0.5s;
}

.square3 {
    left:150px;
    top:150px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:yellow;
  transition: 0.5s;
}

.square4 {
    left:20px;
    top:150px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:green;
    transition: 0.5s;
}
