div.parent {
    width:400px;
    height:400px;
    position:fixed;
}

button.go {
    min-width:100px;
    position:fixed;
    top:260px;
    left:20px;
}

div.square1 {
    left:20px;
    top:20px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:blue;
}

div.square2 {
    left:150px;
    top:20px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:red;
}

div.square3 {
    left:150px;
    top:150px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:yellow;
}

div.square4 {
    left:20px;
    top:150px;
    height:100px;
    width:100px;
    position:fixed;
    background-color:green;
}